body{
    background: #202124;
    
}
.fa-brands.fa-behance.fa-1x{
    margin-right: 40px;
}
.fa-brands.fa-instagram.fa-1x{
    margin-left: 40px;
}
.services_text{
    text-align: center;
    font-family: 'poppins' ;
    font-weight: 600;
    font-size: 35px;
    color:  #FFA588;
    position: relative;
    letter-spacing: 1.5px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    height:100vh;
}
.item{
    border: 2px solid #FFA588;
    height: 310px;
    width:300px;
    color: #FFA588;
    font-family: 'poppins';
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    border-radius:10px;
    transition: 1s;
}
.item:hover{
    transform: scale(1.2);
}
.brush{
    margin-top: 50px;
}
.text1{
    font-size: 15px ;
    font-weight: 400;
    font-family: 'poppins';
    color:    #FFFFFF;
    margin-right: 5px;
    margin-left: 5px;

}
.consists{
  
    display:flex;
    justify-content: space-evenly;
    height: auto;
    width:auto
}
.it2{
    
    margin-top: 50px;
    margin-left: 70px;
    height: 600px;
    width: 700px;
    margin-right: 100px;
}
.it1{
    margin-left: 300px;
    margin-top: 30px;
}
.about1{
    font-family: 'poppins' ;
    font-weight: 600;
    font-size: 35px;
    color:  #FFA588;
    letter-spacing: 1.5px;

}
.write{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.dabba{
    display:flex;
    justify-content: space-evenly;
}
.hello{
    font-family: 'poppins';
    font-weight: 600;
    font-size:25px ;
    color: #FFFFFF;
}
.person{
    font-size: 70px;
    font-weight: 600;
    font-family: 'poppins';
    color: #FFA588;

}
.welcome{
    font-family: 'poppins';
    font-weight: 400;
    font-size:20px ;
    color: #FFFFFF;

}
.thing1{
    margin-top: 100px;
    margin-left:200px;
}
.thing2{
    margin-right: 100px;
}
.navbar{
    width: 85%;
    padding: 35px -800px;
    margin-right: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:15px;
    font-family: 'poppins';
    font-weight: 600;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color:#FFFFFF;
    
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #FFA588;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
.logo{
    margin-left: 200px;
    margin-top: 50px;
}
.button{
    position: absolute;

    margin-top: 20px;
 }
 
 .button .button1{
     border: 2px solid #FFA588;
     border-radius: 5px;
     padding: 10px 40px;
     background: transparent;
     font-family: 'poppins';
     font-size: 20px;
     font-weight: 600;
     color: #FFA588;
 }
 
 .button .button1:hover{
     background-color: #FFA588;
     color: #202124;
 } 
